<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Recipe Home</title>
</head>
<body>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <form class="form-inline">
            <a class="navbar-brand" href="./">Recipe App Home</a>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="container container-login col-md-6">
      <div class="card-hearder">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Email *" value="" />
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Your Password *" value="" />
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg float-right" value="Login">Login</button>
          </div>
          <div class="form-group">
              <a href="#" class="ForgetPwd">Forget Password?</a>
          </div>
          <div class="form-group">
            <a href="#" class="Register">Register Here!</a>
          </div>    
      </form>
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>